.jumbotron {
    margin-bottom: 0px;
    height:180px;
    width: 550px;
    margin: auto;

    background-image: url(../environments/assets/github.png);
    background-position: 0% 51%;

    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.9em 0.9em 0.9em;
}

input{
  position: center;
  width:650px;
  margin: auto;
}
blockquote{
  font-size: 20px;
}

.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}
