<div class="container">

  <div class="jumbotron">
  </div>


<br><br><br>
<div class="form-group-row">
  <input type="text" name="search" #search>
  <button (click)="searchGithub(search)">Search</button>
</div>


<h2>Username: {{user.login}}</h2>
<img src="{{user.avatar_url}}" alt="">
<p>Bio: {{user.bio}}</p>
<p>Public Repositories: {{user.public_repos}}</p>
<p>Following: {{user.following}}</p>
<p>Followers: {{user.followers}}</p>
<a href="{{user.html_url}}">Github Site</a>


<div *ngFor="let repo of repos" class="column" >
  <h1>{{repo.name}}</h1>
  <p>{{repo.description}}</p>
  <p>Creation date: {{repo.created_at|date}}</p>
  <!-- <p>Created {{repo.created_at|timeAgo}} days ago</p> -->
</div>
</div>
