<div class="container ">



  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand nav-link">
    <img src="https://icon2.kisspng.com/20180514/hcq/kisspng-github-logo-repository-computer-icons-5afa376beb2671.4883383715263476279632.jpg" alt="Iron Man" width="30" height="30" class="d-inline-block align-top">
    Github Api
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#" routerLinkActive='active'>Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/user' routerLinkActive='active'>User Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/repositories' routerLinkActive='active'>Repositories</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="jumbotron">
  </div>



<!-- <p>Click on a category on the navigation bar above to retrieve intended user information</p> -->

<router-outlet></router-outlet>

<!--
<div class="row">

  <div *ngFor="let repo of repos" class="col-md-3" >

<div class="card" style="width: 18rem;height:21em">
  <div class="card-body">
    <h5 class="card-title">{{repo.name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{repo.created_at|date}}</h6>
    <p class="card-text">{{repo.description}}</p>
    <a href="{{repo.html_url}}" class="card-link">Repository Link</a>
  </div>
</div>
</div>
</div> -->






</div>


<!-- <p>Created {{repo.created_at|timeAgo}} days ago</p> -->
